{% extends "index.html" %} {% block title %}Total cases{% endblock %} {% block
    content %}
<html>
<body>
    <h1></h1>
    
    <h1 align="center" style="background-color:rgb(80, 170, 80);">BDAT1004 Final Project</h1>
    

    <h2 align="center" style="background-color:rgb(172, 27, 160);">Data Visualization of Covid Cases</h2>
    <img align = "right" src="https://www.austintexas.gov/sites/default/files/COVID_Banner2_large.png" alt="COVID-19" width=70% height="400">
    <h4> Submitted By :</h4>
    <p> Sangeetha Muniraju Mugaluru (200496101)
    <br> Abhinav Sharma (200476122)
    <br> Haseeb Ahmed (200480483)
    </p>
    <h4>Submitted To : </h4>  
    <p> Ethan Davis</p> 
    <h4>Date : </h4><p>17th Dec 2021</p>            
    </h4>
    <h1></h1>
    

</body>
</html>
{% endblock %}